 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #50C9C3; 
  background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  
  background: linear-gradient(to right, #96DEDA, #50C9C3); 
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  position: relative;
}
.pencil-img{
position: absolute;
z-index: -1;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form input{
  border-radius:5px 0 0 5px ;
  box-shadow: 0 2px 5px 1px rgba(0,186,187,.5);

}
form button{
  border-radius:0 5px 5px 0;
}
form button {
  color: #96deda;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #96deda;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1rem;
  color: #04365f;
  padding-left: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  box-shadow: 0 2px 5px 1px rgba(0,186,187,.5);
}
.filter-todo {
  padding: 1rem;
  box-shadow: 0 2px 5px 1px rgba(0,186,187,.5);
  border-radius: 5px;
 
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #9e9e9e;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background:#96deda
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #04365f;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #96deda;
  cursor: pointer;
  pointer-events: none;
}

